<footer>
    <div class="footer-info">
        <div class="footer-info-socialMedia">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <!-- <i class="fa-solid fa-envelope"></i> -->
        </i></div>
        <div class="footer-info-company">&copy; Stayzza Private Limited</div>
        <div class="footer-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms And Conditions</a>
        </div>
    </div>
</footer>