<% layout("/layouts/boilerplate.ejs") %>
<body>
<div class="row mt-2">
<div class="col-8 offset-2">
    <h3>New Listing:</h3>  
 
 <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="">
        <label for="title" class="form-label">Title: </label>
        <input type="text" placeholder="Enter Title", name="title" class="form-control"  required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Enter property name!</div>
    </div>
    <br>
    <div>
    <label for="description" class="form-label">Description: </label>
    <textarea type="text" placeholder="Enter Description", name="description" class="form-control" required></textarea>
    <div class="valid-feedback">Awesome!</div>
    <div class="invalid-feedback">Enter Catchy Description!</div>

    </div>
    <br>
 
    <div>
    <label for="image" class="form-label">Upload Image: </label>
    <input type="file" name="image" class="form-control">
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label for="price" class="form-label">Price: </label>
            <input type="number" placeholder="Enter Price" name="price" class="form-control" required>
    <div class="valid-feedback">Interesting!</div>

        </div>
        <div class="col-md-8">
            <label for="country" class="form-label" >Country: </label> 
            <input type="text" placeholder="India" name="country" class="form-control" required>
            <div class="invalid-feedback">Country name should be entered!</div>
    

        </div>
    </div>
    <br>
    <div>
    <label for="location" class="form-label" required>Location: </label>
    <input type="text" placeholder="Uttarakhand" name="location" class="form-control" >
            <!-- <div class="invalid-feedback">Location name should be entered!</div> -->


    </div>

    <button class="btn btn-dark add-btn mt-5 mb-3">Add</button>
 </form>
</div>
</div>
</body>